extends layout

block content

    h1 Optimon solution
    ul
      li Assignment (microservice -> provider)
      each val, key in input.assignment
        p #{val.service} -> #{val.provider}

      li Estimated metric measurements
      if input.estimated_mm.length > 0
        each val, key in input.estimated_mm
          p #{val.service} @ #{val.provider} -> #{val.measurements}
      else
          p none

      li Implemented metric measurements
      if input.implementated_mm.length > 0
        each val, key in input.implementated_mm
          p #{val.service} @ #{val.provider} -> #{val.measurements}
      else
          p none

      li Total cost #{input.cost}

      li Total accuracy #{input.accuracy}

    a(href='/optimon') go back to the home page
