extends layout

block content

  h1= "Opti(mized) Mon(itoring)"

        p

        //form(name="formrequests", action="/optimon/requests", method="post", enctype="multipart/form-data")
        //  div.input
        //    label= "Load requests"
        //    input(type="file", name="requestsFile")
        //    input(type="submit" value="Upload")
        //
        //p
        //
        //form(name="formofferings", action="/optimon/offerings", method="post", enctype="multipart/form-data")
        //  label Load offerings
        //  input(type="file", name="offeringsFile")
        //  input(type="submit" value="Upload")
        //
        //p

        form(name="formcompute", action="/optimon/compute", method="POST")
          div.requests
            p current request
            textarea(name="requestsFileTextArea" rows="10" cols="100").form-control #{requestsText}
          br
          div.offerings
            p current offerings
            textarea(name="offeringsFileTextArea" rows="10" cols="100").form-control #{offeringsText}
          br
          div.kb
            p current knowledge base
            textarea(name="kbFileTextArea" rows="10" cols="100").form-control #{kbText}
          br
          input(type="submit" value="Compute")
